<!-- Wrapper -->
<div id="wrapper">

	<header id="header">
		<div class="inner">

			<!-- Logo -->
			<a href="{{ site.baseurl }}/" class="logo">
				<span class="symbol">
					<img src="{{ site.baseurl }}/{{ site.logo-image-url }}" alt="" />
				</span>
			</a>


			<!-- Custom Nav -->
			<div class="topnav">
				<ul>
					<li><a href="{{ 'index.html' | relative_url }}">Home</a></li>
					<li><a href="{{ 'teams.html' | relative_url }}">Teams</a></li>
					<li><a href="{{ 'projects.html' | relative_url }}">Projects</a></li>
					<li><a href="{{ 'leadership.html' | relative_url }}">Leadership</a></li>
					<li><a href="{{ 'join.html' | relative_url }}">Join</a></li>
					<li><a href="{{ 'calendar.html' | relative_url }}">Calendar</a></li>
					<li><a href="{{ 'sponsors.html' | relative_url }}">Sponsors</a></li>
					<li><a href="{{ 'campus.html' | relative_url }}">UAVs on Campus</a></li>
					<li><a href="{{ 'contact.html' | relative_url }}">Contact</a></li>
				</ul>
			</div>

			<!-- Nav -->
			<!-- <nav id="nav">
			    <ul>
			      <li class="special">
			        <a href="#menu" class="menuToggle"><span>Menu</span></a>
			        <div id="menu">
			          <ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="teams.html">Teams</a></li>
						<li><a href="projects.html">Projects</a></li>
						<li><a href="leadership.html">Leadership</a></li>
						<li><a href="join.html">Join</a></li>
						<li><a href="calendar.html">Calendar</a></li>
						<li><a href="sponsors.html">Sponsors</a></li>
						<li><a href="campus.html">UAVs on Campus</a></li>
						<li><a href="contact.html">Contact</a></li>
			          </ul>
			        </div>
			      </li>
			    </ul>
			  </nav>
		</div> -->

	</header>

	<!-- Main -->
	<div id="main">
		<div class="inner">
