<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{{ site.url }}{{ site.baseurl }}/index.html">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/teams.html">Teams</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/projects.html">Projects</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/leadership.html">Leadership</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/join.html">Join</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/calendar.html">Calendar</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/sponsors.html">Sponsors</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/campus.html">UAVs on Campus</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/contact.html">Contact</a></li>
	</ul>
</nav>