<!-- Spring 2020 Project Tiles -->

<section class="tiles">

        <article class="style2">
                <span class="image">
                        <img src="images/projects/aerobear/wing_thumbnail.jpg" alt="" />
                </span>
                <a href="2019/09/06/aerobear_fa18_sp19.html">
                        <h2>Team AeroBear</h2>
                        <div class="content">
                                <p>Uumanned Autonomous Systems Competition</p>
                        </div>
                </a>
        </article>
</section>
