<!-- Spring 2017 Project Tiles -->

<section class="tiles">

	<article class="style1">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/projects/hotswap/hotswap.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/2017/05/01/hotswap.html">
			<h2>Project Hotswap</h2>
			<div class="content">
				<p>Midair battery swapping system.</p>
			</div>
		</a>
	</article>

	<article class="style_gray">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/projects/lasertag/lasertag.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/2017/05/01/lasertag.html">
			<h2>Lasertag Dogfight</h2>
			<div class="content">
				<p>Two acrobatic multirotors with lasers.</p>
			</div>
		</a>
	</article>

	<article class="style_gray">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/projects/calfpv_sp17/calfpv_sp17.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/2017/05/01/calfpv_sp17.html">
			<h2>CALFPV</h2>
			<div class="content">
				<p>The drone racing team.</p>
			</div>
		</a>
	</article>

</section>
