<!-- Spring 2018 Project Tiles -->

<section class="tiles">

	<article class="style1">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/airdrop.html">
			<h2>Project AirDrop</h2>
			<div class="content">
				<p>A payload deploying fixed wing aircraft.</p>
			</div>
		</a>
	</article>

	<article class="style2">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/flywave.html">
			<h2>Project FlyWave</h2>
			<div class="content">
				<p>A DJI Spark.</p>
			</div>
		</a>
	</article>

	<article class="style3">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/autoquad.html">
			<h2>Project AutoQuad</h2>
			<div class="content">
				<p>A really hard problem.</p>
			</div>
		</a>
	</article>

</section>
