<!-- Spring 2018 Project Tiles -->

<section class="tiles">

	<article class="style1">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/projects/airdrop/airdrop.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/2018/05/01/airdrop.html">
			<h2>Project AirDrop</h2>
			<div class="content">
				<p>A payload deploying fixed wing aircraft.</p>
			</div>
		</a>
	</article>

	<article class="style2">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/projects/flywave/flywave.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/2018/05/01/flywave.html">
			<h2>Project FlyWave</h2>
			<div class="content">
				<p>Computer vision based flight control.</p>
			</div>
		</a>
	</article>

	<article class="style3">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/projects/autoquad/autoquad.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/2018/05/01/autoquad.html">
			<h2>Project AutoQuad</h2>
			<div class="content">
				<p>Reinforcement learning for autonomous navigation.</p>
			</div>
		</a>
	</article>

	<article class="style4">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/projects/calfpv_sp18/calfpv_sp18.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/2018/05/01/calfpv_sp18.html">
			<h2>CALFPV</h2>
			<div class="content">
				<p>The drone racing team.</p>
			</div>
		</a>
	</article>

	<article class="style5">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/projects/video_sp18/video_sp18.jpg" alt="" />
		</span>
		<a href="{{ site.url }}{{ site.baseurl }}/2018/05/01/video_sp18.html">
			<h2>Video/Photo</h2>
			<div class="content">
				<p>Aerial videography and photography.</p>
			</div>
		</a>
	</article>

</section>
