<!-- Spring 2019 Project Tiles -->

<section class="tiles">

	<article class="style2">
		<span class="image">
			<img src="images/projects/v2v/aruco.png" alt="" />
		</span>
		<a href="2019/09/06/v2v_sp19.html">
			<h2>Project V2V</h2>
			<div class="content">
				<p>Vehicle to Vehicle Communication.</p>
			</div>
		</a>
	</article>
        <article class="style2">
                <span class="image">
                        <img src="images/projects/aerobear/wing_thumbnail.jpg" alt="" />
                </span>
                <a href="2019/09/06/aerobear_fa18_sp19.html">
                        <h2>Team AeroBear</h2>
                        <div class="content">
                                <p>Uumanned Autonomous Systems Competition</p>
                        </div>
                </a>
        </article>
	<article class="style2">
		<span class="image">
			<img src="images/projects/video_sp18/video_sp18.jpg" alt="" />
		</span>
		<a href="2018/05/01/video_sp18.html">
			<h2>Video/Photo</h2>
			<div class="content">
				<p>Aerial videography and photography.</p>
			</div>
		</a>
	</article>
</section>
